* {
    margin: 0px;
    padding: 0px;

}

.navbar {
    
    height: 16%;
    display: flex;
    align-items: center;
   
    

}



.container {
    width: 1280px;
    height: 86vh;
    /* background-image: url(/image/silhouette-images-video-production-behind-scenes-b-roll-making-tv-commercial-movie-film-crew-team-lightman-129097006.jpg ); */
    opacity: 0.85 ;

}

/* .logo{
    background-color: aqua;
    
} */


.navbar img {
    margin-left: 15px;
    background-color: white;
    padding: 2px;
    width: 4%;
    border: 3px solid rgb(223, 19, 19);
    border-radius: 21px;

}

.navbar p{
    margin-left: 18px;
    font-family: 'Permanent Marker', cursive;
}

nav ul {
    margin-left: 390px;
}

nav ul li {
    margin-right: 25px;
    /* border: 3px solid green; */
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
}

nav ul li a {
    /* background-color: aliceblue; */
    color: rgb(0, 0, 0);
    padding: 4px;
    border: 2px solid rgb(116, 13, 13);
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    border: 2px solid rgb(209, 17, 27);
    background-color: rgb(130, 12, 14);
    color: rgb(255, 255, 255);
}


.container2 {
    display: flex;
    margin-top: 20vh;
    margin-left: 25vh;
    width: 980px;
    height: 400px;
    border-radius: 25px;
    
}

.container2 ul  {
    display: flex;
}

.container2 ul li {
    display: flex;
}
.container2 ul li p{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 10px;

}

.container2 li img{
    border: 2px solid black;
    border-radius: 25px;
    width: 100%;
    background-color: green;
}
.container3 {
    display: flex;
    margin-top: 20vh;
    margin-left: 25vh;
    width: 980px;
    height: 400px;
    border-radius: 25px;
    
}

.container3 ul  {
    display: flex;
}

.container3 ul li {
    display: flex;
}
.container3 ul li p{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 10px;

}

.container3 li img{
    border: 2px solid black;
    border-radius: 25px;
    width: 100%;
    background-color: green;
}





